* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
body {
    /*background: #333 url('/static/images/background.jpg') no-repeat center center/cover;*/
    background: white;
    color: black;
}
.container{
    padding: 5px 5px 5px 5px;
}

/*Index page*/

#main-navbar .logo{
    font-family: 'Kaushan Script', cursive;
    margin-top: 15px;
}
#main-navbar .logo a{
    color: black;
    font-size: 2rem;
    font-weight: 600;
    padding: 5px 0 0 10px;
}
.content .welcome-text{
    text-align: center;
    margin-top: 50px;
}

.J{
    color: #B71416;
    text-decoration: bold;
}
.A{
    color: #1464B7;
}
.R{
    color: #DEA82D;
}
.S{
    color: #7CB714;
}
.content .welcome-text .hello{
    font-size: 2rem;
    padding-bottom: 10px;
}
.content .welcome-text .welcome{
    font-size: 1.3rem;
}
.content .welcome-text .sign-in{
    text-decoration: underline;
    padding-top: 5px;
}
.content .signin-section{
    text-align: center;
    margin-top: 20px;
}
.content .signin-section button{
    color: white;
    background: #3665F3;
    padding: 8px 10px 8px 10px;
}

/*Marketplace page*/

/*Navbar Section*/
#marketplace-navbar .container{
    padding: 5px 8px 5px 8px;
}

#marketplace-navbar .container {
    background: #0A192F;
    color: white;
}

#marketplace-navbar .tiny-links{
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}
#marketplace-navbar .tiny-links a{
    color: white;
}
#marketplace-navbar .tiny-links .helper-links{
    display: flex;
}
#marketplace-navbar .tiny-links .helper-links .help{
    margin-right : 30px;
}

#marketplace-navbar .big-bar{
    display: flex;
    justify-content: space-between;
}
#marketplace-navbar .big-bar .logo{
    font-size: 2rem;
    font-family: 'Kaushan Script', cursive;
    font-weight: 600;
}
#marketplace-navbar .big-bar .search input{
    font-size: 1rem;
    border-radius: 3px;
    padding: 6px 3px 5px 6px;
}
#marketplace-navbar .big-bar .search button{
    margin-left: 5px;
    font-size: 1rem;
    border-radius: 3px;
    padding: 8px 10px 8px 10px;
    color: white;
    background: #3665F3;
    border:none;
}

#marketplace-navbar .big-bar .search{
    display: flex;
}

/*Listing section*/

#listing-section .unit-listing{
    /*background: yellow;*/
}

#listing-section .listing{
    padding: 10px 20px 10px 20px;
}

#listing-section .unit-listing .course-isbn{
    display: flex;
    justify-content: space-between;
}
#listing-section .unit-listing .price-condition{
    display: flex;
    justify-content: space-between;
}
#listing-section .unit-listing .seller-contact-seller{
    display: flex;
    justify-content: space-between;
}