* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/*#index-body{*/
/*    background: #D6D7C3 url('/static/images/background_index.jpg') no-repeat center center/cover;*/
/*}*/

.home-content{
    background: url('/static/images/JARS.png') ;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 
}
.home-content .login-button{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.home-content .login-button button{
    font-size: 1.1rem;
    background: #2DBF7C;
    color:white;
    border: none;
    border-radius: 3px;
    padding: 6px 7px 6px 7px;
}

body {
    background: white;
    color: black;
}
.container{
    padding: 5px 5px 5px 5px;
    max-width: 1100px;
    margin:auto;
}

/*Index page*/

#index-body #main-navbar {
    display: block;
    height: 0px;
    width: auto;
}

#main-navbar .logo{
    font-family: 'Kaushan Script', cursive;
    margin-top: 15px;
}
#main-navbar .logo a{
    color: black;
    font-size: 2rem;
    font-weight: 600;
    padding: 5px 0 0 10px;
}
.content .welcome-text{
    color: white;
    text-align: center;
    padding-top: 80px;
}

#content .wrapper{
    margin-top: 20px;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.temp-link{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #660757;
    font-weight: bold;
    text-decoration: underline;
}

.J{
    color: #B71416;
    text-decoration: bold;
}
.A{
    color: #1464B7;
}
.R{
    color: #DEA82D;
}
.S{
    color: #7CB714;
}
.content .welcome-text .hello{
    font-size: 2rem;
    padding-bottom: 10px;
}
.content .welcome-text .welcome{
    font-size: 1.3rem;
}
.content .welcome-text .sign-in{
    /*text-decoration: underline;*/
    padding-top: 5px;
}
.content .signin-section{
    text-align: center;
    margin-top: 20px;
}
.content .signin-section button{
    color: white;
    background: #3665F3;
    padding: 8px 10px 8px 10px;
}

/*Marketplace page*/

/*Navbar Section*/
#marketplace-navbar .nav-container{
    padding: 3px 8px 2px 8px;
    background: #0A192F;
    color: white;
}

#marketplace-navbar .tiny-links{
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
}
#marketplace-navbar .tiny-links a{
    color: white;
}
#marketplace-navbar .tiny-links .helper-links{
    display: flex;
}

#marketplace-navbar .tiny-links .helper-links a:hover{
    text-decoration: underline;
    transition: all 0.5s;
}

#marketplace-navbar .tiny-links .helper-links .help{
    margin-right : 30px;
}

#marketplace-navbar .big-bar{
    display: flex;
    justify-content: space-between;
}
#marketplace-navbar .big-bar .logo{
    font-size: 2rem;
    font-family: 'Kaushan Script', cursive;
    font-weight: 600;
}
#marketplace-navbar .big-bar .search input{
    font-size: 1rem;
    border-radius: 3px;
    padding: 8px 3px 8px 3px;
    border:none;
}
#marketplace-navbar .big-bar .search button{
    margin-left: 5px;
    font-size: 1rem;
    border-radius: 3px;
    padding: 8px 10px 8px 10px;
    color: white;
    background: #3665F3;
    border:none;
}

#marketplace-navbar .big-bar .search{
    display: flex;
}

#marketplace-navbar .big-bar .sell-logout{
    display: flex;
}

#marketplace-navbar .big-bar .sell-logout a{
    color: white;
    margin-right: 10px;
}

#marketplace-navbar .big-bar .sell-logout .sell-link{
    padding-top: 7px;
    font-size: 1.1rem;
}

#marketplace-navbar .big-bar .sell-logout .sell-link:hover{
    /*color: #46E0DE;*/
    color: #19E3F9;
    text-decoration: underline;
    transition: all 0.5s;
}

/*Listing section*/

/*#listing-section .unit-listing{*/
/*    background: yellow;*/
/*}*/

/*#listing-section{*/
/*    overflow: auto;*/
/*}*/
#listing-section .container{
    margin-bottom: 20px;
}

#listing-section .listing{
    padding: 10px 20px 10px 20px;
}
#listing-section .listing li{
    padding-bottom: 10px;
    margin-bottom: 5px;
    list-style: none;
    border-bottom: 1.5px solid #E7E7E7;
}

#listing-section .unit-listing .course-isbn{
    display: flex;
    justify-content: space-between;
}
#listing-section .unit-listing .price-condition{
    display: flex;
    justify-content: space-between;
}
#listing-section .unit-listing .seller-contact-seller{
    display: flex;
    justify-content: space-between;
}

#listing-section .unit-listing .seller-contact-seller button{
    margin-top: 2px;
    padding: 2px 5px 2px 5px;
    background: #656565;
    color: #4CEADA;
    font-size: 1rem;
    font-size: 0.9rem;
    border-radius: 3px;
    transition: all 0.2s;
}

#listing-section .unit-listing .seller-contact-seller button:hover{
    background: #353739;
}


/*Submit Page*/

#post-book .post-book-form{
    margin-top: 30px;
}

.post-book-form .author-category{
    display: flex;
    justify-content: space-between;
}
.post-book-form .course-isbn{
    display: flex;
    justify-content: space-between;
}
.post-book-form .price-condition{
    display: flex;
    justify-content: space-between;
}

/*.post-book-form{*/
/*    display: grid;*/
/*    grid-template-areas:*/
/*        "name name"*/
/*        "author category"*/
/*        "course isbn"*/
/*        "price condition"*/
/*        "textarea textarea";*/
/*    grid-gap: 5px;*/
/*}*/

/*.post-book-form .name-input{*/
/*    grid-area: name;*/
/*}*/
/*.post-book-form .author-input{*/
/*    grid-area: author;*/
/*}*/
/*.post-book-form .category-input{*/
/*    grid-area: category;*/
/*}*/
/*.post-book-form .course-input{*/
/*    grid-area: course;*/
/*}*/
/*.post-book-form .isbn-input{*/
/*    grid-area: isbn;*/
/*}*/
/*.post-book-form .price-input{*/
/*    grid-area: price;*/
/*}*/
/*.post-book-form .condition-input{*/
/*    grid-area: condition;*/
/*}*/
/*.post-book-form .textarea-input{*/
/*    grid-area: textarea;*/
/*}*/


.post-book-form .input-box{
    margin-bottom: 15px;
    padding: 6px 5px 6px 5px;
    border: 0.9px #3665F3 solid;
    border-radius: 5px;
    font-size: 0.9rem;
}

.post-book-form .textarea-input{
    font-size:1.1rem;
}

/*.post-book-form .input-box:hover{*/
/*    border-color: rgb(76, 234, 218);*/
/*}*/


.post-book-form .input-box:focus{
    outline: none;
    border: 1.5px #3665F3 dashed;
}

.author-input,
.category-input,
.course-input,
.isbn-input,
.price-input,
.condition-input{
    width: 500px;
}

.name-input,
.textarea-input{
    width: 100%;
}

#post-book .post-book-submit{
    padding: 5px 10px 5px 10px;
    border: 1px #4CEADA solid;
    background: #656565;
    color: #4CEADA;
    font-weight: 600;
    margin-top: 15px;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
    transition: all 0.2s;
}

#post-book .post-book-submit:hover{
    background: #353739;
}


#common-footer{
    color: white;
    text-align: center;
    padding: 0 5px 5px 1px;
    background: #09222A;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

#common-footer .copyright{
    font-size: 0.85rem;
}

#common-footer a{
    color: white;
    font-size: 0.80rem;
}

#common-footer a:hover{
    text-decoration: underline;
    transition: all 0.5s;
}

#common-footer .common-footer-links{
    display: flex;
}

#common-footer .common-footer-links .footer-link{
    margin-right: 20px;
}