<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Linking style.css-->
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    
    <title>JARS | One stop for textbook shopping</title>
</head>
<body>
    <navbar id = "main-navbar">
        <div class = "logo">
            <a href="#">JARS</a>
        </div>
    </navbar>
    <section class = "welcome-text">
        <p>Welcome to JARS</p>
        <p>Please, Sign in with Google to continue</p>
    </section>
    
    <a href="marketplace.html">Click here to go to next page</a>
</body>
</html>