<!DOCTYPE html>
<html lang="en">
<head>
    <!--script for the google api button-->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JARS | One stop for textbook shopping</title>
  
<body>
    <head>
    </head>
    <div id="content"></div>
    <script type="text/javascript" src="/static/script.js"></script>
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
</body>
</html>

