<!DOCTYPE html>
<html lang="en">
<head>
    <!--script for the google api button-->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!--Linking style.css-->
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    
    <!--Link to google fonts for- Kaushan Script(font-family: 'Kaushan Script', cursive;)-->
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
    
    <title>JARS | One stop for textbook shopping</title>
</head>

<body>
    <navbar id = "main-navbar">
        <div class = "logo">
            <a href="#"><span class = "J">J</span><span class = "A">A</span><span class = "R">R</span><span class = "S">S</span></a>
        </div>
    </navbar>
    
    <section class = "content">
        <div class = welcome-text>
            <h1 class = "hello">Hello</h1>
            <p class = "welcome">Welcome to JARS</p>
            <p class = "sign-in">Sign in with Google to continue...</p>
        </div>
        
        <!--We do not neeed this class because content.js already renders a working google login button-->
        <!--<div class = "signin-section">-->
        <!--    <button class = "google-button">Sign in with Google</button>-->
        <!--</div>-->
        <a href="./static/marketplace.html">Click here to go to next page</a>
        
    </section>

    <!--Link to script.js-->
    <script type="text/javascript" src="/static/script.js"></script>
</body>
</html>





