<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Linking style.css-->
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    
    <title>JARS | Search for what you need</title>
</head>
<body>
    <navbar id = "marketplace-navbar">
        <div class = "nav-container">
            <div class = "tiny-links">
                <div class = "helper-links">
                    <div class = "help">
                        <a href="#">Help and Contact</a>
                    </div>
                    <div class = "terms">
                        <a href="#">Terms and Conditions</a>
                    </div>
                </div>
                <div class = "sell">
                    <a href="submit.html">Sell a Book</a>
                </div>
            </div>
        
            <div class = "big-bar">
                <div class = "logo">
                    <a href="#"><span class = "J">J</span><span class = "A">A</span><span class = "R">R</span><span class = "S">S</span></a>
                </div>
                <div class = "search">
                    <div>
                        <input type="text" name="search-input" class = "search-input" placeholder = "Search for a textbook..."/>
                    </div>
                    <div>
                        <button>Search</button>
                    </div>
                </div>
                <div>
                    <button>Logout</button>
                </div>
            </div>
        </div>
    </navbar>
    
    <section id = "listing-section">
        <div class = "container">
            <div class = "listing">
                <!--A single listing will look like this-->
                <div class = "unit-listing">
                    <h4 class = "book-name">Advanced Calculus</h4>
                    <p class = "author">by Barak Obama</p>
                    <div class = "course-isbn">
                        <div class = "course">
                            <p>Course: MATH334</p>
                        </div>
                        <div class = "isbn">
                            <p>ISBN: 978-1999579517</p>
                        </div>
                    </div>
                    <div class = "price-condition">
                        <div class = "price">
                            <h4> $20.00</h4>
                        </div>
                        <div class = "condition">
                            <p>Conditon: Mint</p>
                        </div>
                    </div>
                    <div class = "seller-contact-seller">
                        <div class = "Seller">
                            <p> Seller: Ashely Wilson </p>
                        </div>
                        <div class = "contact-seller">
                            <button>Contact Seller</button>
                        </div>
                    </div>
                    <p class = "description"> A book selling from a Morgan Senior Student.</p>
                </div>
                
            </div>
        </div>
    </section>
</body>
</html>